.App {
  text-align: center;
}

.light-text {
  color:white;
}

div.banner{
  position: relative;
  text-align: center;
  color: white;
}

img.banner {
  width: 100%;
  background-position: center;
}

.home-text{
  position: absolute;
  left: 40%;
  top: 1rem;
}

.link-text-dark{
  color:rgb(54, 215, 183);
}

.project-tile{
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.19);
    height: 10rem;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
}

.project-tile:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10rem;
    text-align: center;
    margin: 15px;
}